.pfp {
    border-radius: 50%;
    max-width: 200px;
}

.profile-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
}

.number {
    font-size: 26px;
    font-weight: bold;
}

.card-col {
    padding: 20px;
}

.delete-cube {
    width: 40px;
    height: auto;
    background: none;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}