.recipe-body{
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 0;
}

.main-col{
    border: solid 3px #377E47;
}

.description-container{
    padding: 2rem;
}

.small-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.heart-img{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.heart-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recipe-name{
    text-align: center;
    margin-bottom: 1rem;
}

.category-container{
    padding: 1rem;
    text-align: center;
}

.category-btn{
    border-radius: 8px;
    background-color: #377E47;
    color: #fff;
    padding: 8px;
    border: 1px solid #555;
    font-size: 18px;
    margin: 3px;
}
.img-col{
    padding: 0;
}

.img-fluid{
    width: 100%;
}

/*Allergen*/
.details-row{
    border: 1px solid #377E47;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.space{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.allergen-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.allergen-img{
    width: 50px;
    height: 50px;
}

.ingredient-container{
    padding-right: 0;
    padding-bottom: 1rem;
}

.ing-lbl{
    font-size: 20px;
}

/*Steps*/
.step-container{
    border-left: solid 1px;
    padding-left: 0;
}

.steps{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;
}
.steps:hover{
    background-color: #ECECEC;
}

.step-text{
    margin-bottom: 0px;
    margin-left: 1rem;
}

.h1-step, .h2-step{
    padding-left: 1rem;
}

/*Ingredient*/
.completed {
    opacity: 0.6;
}

.h1-border{
    border-bottom: 1px solid;
}

/* Add Media Query for screens smaller than 992px */
@media (max-width: 991.98px) {

    .step-container {
        border-left: none;
        padding: 1rem;
    }

    .h1-border{
        border: none;
    }
}

@media (max-width: 574.98px) {
    .ingredient-container{
        padding: 10px 10px 20px 40px;
        border-bottom: 1px solid black;
    }
}

.ing-cb:checked {
    accent-color: #377E47;
}