.col-sm-12 {
    margin-top: 2rem;
}

select,
.allergen-lbl {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

option:hover {
    background-color: #377E47;
}

#drop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    height: 30vh;
}

#drop-container:hover {
    border-color: #555;
}

#drop-container img {
    max-width: 100%;
    max-height: 300px;
    display: block;
}

.uploaded-img {
    height: 30vh;;
}

#file-input {  /*Cannot be hidden or gives error*/
    position: absolute;
    left: -9999px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-btn {
    background-color: #377E47;
    color: #fff;
    border: 0;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.container {
    padding: 1rem;
}

.img-icon {
    max-width: 30px;
}

.f-weight {
    font-weight: 400;
}

.recipe-name {
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

input#nev {
    margin-left: 5px;
    width: 300px;
    min-height: 40px;
}

/*User*/
.user {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.user-pfp {
    max-width: 50px;
    padding: 10px;
    margin-right: 1.5rem;
}

.user-name {
    margin: 0;
}

/*Rating*/
.rate {
    display: flex;
    align-items: center;
}

.heart {
    margin: 0px;
    max-width: 40px;
    margin-right: 0.5rem;
}

.recipe-body {
    padding-top: 2rem;
}

/*Short Desc*/
#description {
    width: 100%;
    height: 30vh;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

#charCount, #modalBtn, .modalP {
    font-size: 0.9em;
    color: grey;
    text-align: end;
}


/*Diet, Intolerance*/
.diet-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.img-diet {
    max-width: 50px;
}

/*Category*/
select {
    width: 70%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #555;
}

select#ido {
    width: fit-content;
}

input#hozzavalo_adag,
input#ido {
    text-align: center;
    width: 5rem;
    padding: 4px;
}

@media (max-width: 768px) {
    .hozzavalo input[type="text"] {
        width: 100%;
        margin-right: 0;
    }
}

.portion-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.portion-col {
    text-align: end;
}

/*Adjust text alignment where columns stack vertically*/
@media (max-width: 767px) {
    .portion-col {
        text-align: start;
    }
}

/*Allergen*/
.allergen-lbl {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #555;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    background-color: #377E47;
    color: #fff
}

form {
    display: flex;
    justify-content: space-evenly;
}

.allergen-div {
    margin-bottom: 1rem;
}

/*INGRED*/
.ingredient-container {
    border: 1px solid #555;
    padding: 10px;
    border-radius: 4px;
}

.hozzavalo-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}

.hozzavalo {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 40px;
}


.hozzavalo-lbl {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*Steps*/
.lepes-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.lepes {
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lepes-x {
    width: calc(100% - 40px);
}

/* Style for the "x" button next to each step input */
.remove-btn {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    font-size: 16px;
}

.remove-btn:hover {
    background-color: #e60000;
}

.submit-div {
    margin-top: 2rem;
    text-align: center;
}

/*Tooltip*/
.tooltip {
    opacity: 1;
    z-index: 1;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000;
    margin: 1rem;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-Btn-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#modalBtn {
    border: none;
    background: none;
}

.modalP {
    padding: 0;
    margin-top: 5px;
    color: #e60000;
}

.close {
    text-align: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.how-img-div {
    text-align: end;
}

.response {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #377E47;
    font-weight: bold;
}

.suggestion:hover {
    cursor: pointer;
    font-weight: bold;
}

.suggestion {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}